@import "./mixins.styl";

.g-tabbar {
  display: flex;
  width: 100%;
  height: $tabbar-height;
  background-color: #fff;

  &-item {
    flex: 1;
    flex-center(column);

    .iconfont {
      margin-bottom: .08rem;
      font-size: $icon-font-size;
    }
  }
}